.carousel-item {
    height: 60vh !important;
}

.carousel-item img {
    height: 100% !important;
    object-fit: cover !important;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.padding {
    margin-top: 30px;
}

.titulo {
    color: #bdbaba; /* Cinza claro */
    font-family: 'Georgia', serif; /* Tipo de fonte */
    /* font-size: 2em; Tamanho da fonte */
    /* text-shadow: 2px 2px 4px #000000; Sombra do texto */
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}