{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

{% include 'includes/header.html' %}

<body>

    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem; max-height: 90vh; overflow: auto;">
                        <div class="card-body p-5 text-center h-100">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase">Aprovação de Usuários</h2>
                                <p class="text-white-50 mb-5">Revise e aprove novos usuários.</p>

                                {% if users_waiting_approval %}
                                    <ul>
                                        {% for user in users_waiting_approval %}
                                            <li>
                                                <form method="POST" action="{% url 'approve_user' user.id %}">
                                                    {% csrf_token %}
                                                    <div class="form-outline form-white mb-4">
                                                        <label class="form-label">Informações do Usuário:</label>
                                                        <p>{{ user.username }} - {{ user.email }}</p>
                                                    </div>
                                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Aprovar Usuário</button>
                                                </form>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>Nenhum usuário aguardando aprovação.</p>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'includes/footer.html' %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
