{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
{% include 'includes/header.html' %}
<div class="container cadastro">
    <h1 class="cadastro my-4">Cadastro de Sala</h1>
    <form method="post" class="cadastro">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_nome" class="form-label">Nome da Sala:</label>
            <input type="text" class="form-control" id="id_nome" name="nome">
        </div>
        <div class="mb-3">
            <label for="id_descricao" class="form-label">Descrição:</label>
            <textarea id="id_descricao" name="descricao" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>
{% include 'includes/footer.html' %}
</body>
</html>
