{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
{% include 'includes/header.html' %}
<div class="container cadastro">
    <h1 class="cadastro my-4">Excluir Sala</h1>
    <p>Tem certeza de que deseja excluir a sala "{{ sala.nome }}"?</p>
    <form method="post" class="cadastro">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
        <a href="{% url 'listar_salas' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% include 'includes/footer.html' %}
</body>
</html>
