{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
{% include 'includes/header.html' %}

<div class="container cadastro">

    <h1 class="cadastro my-4">Cadastrar Falha</h1>

    <form method="post" class="cadastro">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_departamento" class="form-label">Departamento:</label>
            <input type="text" class="form-control" id="id_departamento" name="departamento">
        </div>
        <div class="form-group">
            <label for="id_laboratorio" class="form-label">Laboratório:</label>
            <input type="text" class="form-control" id="id_laboratorio" name="laboratorio">
        </div>
        <div class="form-group">
            <label for="id_tipo_manutencao" class="form-label">Tipo de Manutenção:</label>
            <input type="text" class="form-control" id="id_tipo_manutencao" name="tipo_manutencao">
        </div>
        <div class="form-group">
            <label for="id_dispositivo" class="form-label">Dispositivo:</label>
            <select class="form-control" id="id_dispositivo" name="dispositivo">
                <option value="">Selecione um dispositivo</option>
                {% for dispositivo in dispositivos %}
                <option value="{{ dispositivo.id }}">{{ dispositivo.dispositivo }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="id_identificacao_dispositivo" class="form-label">Identificação do Dispositivo:</label>
            <input type="text" class="form-control" id="id_identificacao_dispositivo" name="identificacao_dispositivo">
        </div>
        <div class="form-group">
            <label for="id_descricao_falha" class="form-label">Descrição da Falha:</label>
            <textarea class="form-control" id="id_descricao_falha" name="descricao_falha" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="id_data_ocorrencia" class="form-label">Data de Ocorrência:</label>
            <input type="date" class="form-control" id="id_data_ocorrencia" name="data_ocorrencia">
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar Falha</button>
    </form>

    <a href="{% url 'listar_falhas' %}" class="btn btn-secondary mt-2">Voltar para a lista de falhas</a>
    
</div>

{% include 'includes/footer.html' %}

</body>

</html>