{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
{% include 'includes/header.html' %}

<div class="container">
    <h1 class="my-4">Listagem de Dispositivos e Falhas</h1>
    <div id="dispositivosFalhasAccordion" class="accordion">
        {% for dispositivo in dispositivos %}
        <div class="card mb-3">
            <div class="card-header" id="heading{{ dispositivo.id }}">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ dispositivo.id }}"
                        aria-expanded="false" aria-controls="collapse{{ dispositivo.id }}">
                        {{ dispositivo.departamento }} - {{ dispositivo.laboratorio }} - {{ dispositivo.dispositivo }}
                        - Tipo: {{ dispositivo.get_tipo_dispositivo_display }}
                    </button>
                    <!-- Botões de editar e excluir -->
                    <a href="{% url 'editar_dispositivo' dispositivo.id %}" class="btn btn-primary float-right ml-2">Editar</a>
                    <a href="{% url 'excluir_dispositivo' dispositivo.id %}" class="btn btn-danger float-right">Excluir</a>
                </h2>
            </div>

            <div id="collapse{{ dispositivo.id }}" class="collapse" aria-labelledby="heading{{ dispositivo.id }}" data-parent="#dispositivosFalhasAccordion">
                <div class="card-body">
                    <h3>Falhas Associadas:</h3>
                    {% for falha in dispositivo.falha_set.all %}
                    <div class="row border-bottom py-2">
                        <div class="col-md-3">
                            <strong>Tipo de Manutenção:</strong> {{ falha.tipo_manutencao }}
                        </div>
                        <div class="col-md-3">
                            <strong>Identificação do Dispositivo:</strong> {{ falha.identificacao_dispositivo }}
                        </div>
                        <div class="col-md-3">
                            <strong>Descrição da Falha:</strong> {{ falha.descricao_falha }}
                        </div>
                        <div class="col-md-2">
                            <strong>Data de Ocorrência:</strong> {{ falha.data_ocorrencia }}
                        </div>
                        <div class="col-md-1">
                            <strong>Protocolo:</strong> <a href="{% url 'ver_protocolo' falha.protocolo %}">{{ falha.protocolo }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'includes/footer.html' %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
