{% load static %}
{% load static widget_tweaks %}

<!DOCTYPE html>
<html lang="pt-br">
{% include 'includes/header.html' %}

<div class="container cadastro">

    <h1 class="cadastro my-4">Cadastrar Falha</h1>

    <form method="post" class="cadastro">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.dispositivo.id_for_label }}" class="form-label">Dispositivo:</label>
            {{ form.dispositivo|add_class:"form-select" }}
        </div> 
        <div class="form-group">
            <label for="id_descricao_falha" class="form-label">Descrição da Falha:</label>
            <textarea class="form-control" id="id_descricao_falha" name="descricao_falha" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="id_data_ocorrencia" class="form-label">Data de Ocorrência:</label>
            <input type="date" class="form-control" id="id_data_ocorrencia" name="data_ocorrencia">
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar Falha</button>
    </form>

    <a href="{% url 'listar_falhas' %}" class="btn btn-secondary mt-2">Voltar para a lista de falhas</a>

</div>

{% include 'includes/footer.html' %}

</body>
</html>
