{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
{% include 'includes/header.html' %}

<div class="container">

  <h1 class="padding">Lista de Falhas</h1>

  <table class="table table-bordered padding">
    <thead>
      <tr>
        <th>Sala</th>
        <th>Tipo de Manutenção</th>
        <th>Status de Manutenção</th>
        <th>Dispositivo</th>
        <th>Identificação do Dispositivo</th>
        <th>Descrição da Falha</th>
        <th>Data de Ocorrência</th>
      </tr>
    </thead>
    <tbody>
      {% for falha in falhas %}
      <tr>
        <td>{{ falha.falha.dispositivo.sala.nome }}</td>
        <td>{{ falha.falha.manutencao.tipo_manutencao }}</td>
        <td>{{ falha.falha.manutencao.status }}</td>
        <td>{{ falha.falha.dispositivo.dispositivo }}</td>
        <td>{{ falha.falha.dispositivo.identificacao_dispositivo }}</td>
        <td>{{ falha.falha.descricao_falha }}</td>
        <td>{{ falha.falha.data_ocorrencia }}</td>
        <td>
          {% if not falha.falha.manutencao %}
          <a href="{% url 'cadastrar_faha_manutencao' falha.falha.id %}" class="btn btn-primary">Cadastrar Manutenção</a>
          {% else %}
          <a href="{% url 'editar_manutencao' falha.falha.manutencao.id %}" class="btn btn-secondary">Editar Manutenção</a>
          {% endif %}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7">Nenhuma falha cadastrada.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'cadastro_falha' %}" class="btn btn-primary">Cadastrar Nova Falha</a>
</div>

{% include 'includes/footer.html' %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>