{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
{% include 'includes/header.html' %}

<div class="container">
    <h1>Detalhes do Dispositivo</h1>

    <div class="mb-3">
        <label class="form-label">Departamento:</label>
        <p>{{ dispositivo.departamento }}</p>
    </div>

    <div class="mb-3">
        <label class="form-label">Laboratório:</label>
        <p>{{ dispositivo.laboratorio }}</p>
    </div>

    <div class="mb-3">
        <label class="form-label">Dispositivo:</label>
        <p>{{ dispositivo.dispositivo }}</p>
    </div>

    <div class="mb-3">
        <label class="form-label">Identificação do Dispositivo:</label>
        <p>{{ dispositivo.identificacao_dispositivo }}</p>
    </div>

    <div class="mb-3">
        <label class="form-label">Especificações Técnicas:</label>
        <p>{{ dispositivo.especificacoes_tecnicas }}</p>
    </div>

    <div class="mb-3">
        <label class="form-label">Data Aquisição:</label>
        <p>{{ dispositivo.data_aquisicao }}</p>
    </div>

    <div class="mb-3">
        <label class="form-label">Tipo de Dispositivo:</label>
        <p>{{ dispositivo.get_tipo_dispositivo_display }}</p>
    </div>

    <!-- Exibe o QR Code -->
    <div class="mb-3">
        <h2>QR Code:</h2>
        <img src="{{ dispositivo.qr_code.url }}" alt="QR Code do Dispositivo">
    </div>    

    <a href="{% url 'pagina_inicial' %}" class="btn btn-secondary">Voltar para a página inicial</a>
</div>

{% include 'includes/footer.html' %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
