{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="pt-br">
{% include 'includes/header.html' %}

<div class="container mt-5">
    <h1 class="mb-4">Detalhes do Dispositivo</h1>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-hover">
                <tr>
                    <th class="col-md-3">Sala pertencente:</th>
                    <td>{{ dispositivo.sala }}</td>
                </tr>
                <tr>
                    <th>Dispositivo:</th>
                    <td>{{ dispositivo.dispositivo }}</td>
                </tr>
                <tr>
                    <th>Identificação do Dispositivo:</th>
                    <td>{{ dispositivo.identificacao_dispositivo }}</td>
                </tr>
                <tr>
                    <th>Especificações Técnicas:</th>
                    <td>{{ dispositivo.especificacoes_tecnicas }}</td>
                </tr>
                <tr>
                    <th>Data Aquisição:</th>
                    <td>{{ dispositivo.data_aquisicao }}</td>
                </tr>
                <tr>
                    <th>Tipo de Dispositivo:</th>
                    <td>{{ dispositivo.get_tipo_dispositivo_display }}</td>
                </tr>
            </table>
        </div>

        <div class="col-md-6">
            <h2 class="mb-3">QR Code</h2>
            <img class="img-fluid" src="{{ dispositivo.qr_code.url }}" alt="QR Code do Dispositivo">
        </div>
    </div>

    <h2 class="mb-3">Falhas Registradas</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Data de Ocorrência</th>
                <th>Descrição da Falha</th>
                <th>Tipo de Manutenção</th>
                <th>Materiais Utilizados</th>
                <th>Status</th>
                <th>Data de Finalização</th>
            </tr>
        </thead>
        <tbody>
            {% for falha in falhas %}
            <tr>
                <td>{{ falha.data_ocorrencia }}</td>
                <td>{{ falha.descricao_falha }}</td>
                <td>{{ falha.manutencao.tipo_manutencao }}</td>
                <td>{{ falha.manutencao.materiais_utilizados }}</td>
                <td>{{ falha.manutencao.get_status_display }}</td>
                <td>{{ falha.manutencao.data_finalizacao }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'cadastro_falha_dispositivo' dispositivo.id %}" class="btn btn-primary">Cadastrar Nova Falha</a>

    <a href="{% url 'pagina_inicial' %}" class="btn btn-secondary">Voltar para a página inicial</a>
</div>

{% include 'includes/footer.html' %}
</body>

</html>
