<!DOCTYPE html>
<html lang="pt-br">
{% include 'includes/header.html' %}

<div class="container">
    <h1>Dispositivo Cadastrado com Sucesso</h1>

    <!-- Exibe o QR Code -->
    <div class="mb-3">
        <h2>QR Code:</h2>
        <img src="{{ dispositivo.qr_code.url }}" alt="QR Code do Dispositivo">
    </div>

    <div class="mb-3">
        <a href="{% url 'pagina_inicial' %}" class="btn btn-secondary">Voltar para a página inicial</a>
        <a href="{% url 'detalhes_dispositivo' dispositivo.id %}" class="btn btn-primary">Ver Detalhes do Dispositivo</a>
        <a href="{% url 'imprimir_qr_code' dispositivo.id %}" class="btn btn-success">Imprimir QR Code</a>
    </div>
</div>

{% include 'includes/footer.html' %}
</body>
</html>
