{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
{% include 'includes/header.html' %}

<div class="container">
    <h1>Editar Dispositivo</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_departamento">Departamento:</label>
            <input type="text" class="form-control" id="id_departamento" name="departamento" value="{{ form.departamento }}">
        </div>
        <div class="form-group">
            <label for="id_laboratorio">Laboratório:</label>
            <input type="text" class="form-control" id="id_laboratorio" name="laboratorio" value="{{ form.laboratorio }}">
        </div>
        <div class="form-group">
            <label for="id_dispositivo">Dispositivo:</label>
            <input type="text" class="form-control" id="id_dispositivo" name="dispositivo" value="{{ form.dispositivo }}">
        </div>
        <div class="form-group">
            <label for="id_identificacao_dispositivo">Identificação do Dispositivo:</label>
            <input type="text" class="form-control" id="id_identificacao_dispositivo" name="identificacao_dispositivo" value="{{ form.identificacao_dispositivo }}">
        </div>
        <div class="form-group">
            <label for="id_especificacoes_tecnicas">Especificações Técnicas:</label>
            <textarea id="id_especificacoes_tecnicas" name="especificacoes_tecnicas" class="form-control">{{ form.especificacoes_tecnicas }}</textarea>
        </div>
        <div class="form-group">
            <label for="id_data_aquisicao">Data Aquisição:</label>
            <input type="date" id="id_data_aquisicao" name="data_aquisicao" class="form-control" value="{{ form.data_aquisicao }}">
        </div>
        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    </form>
</div>

{% include 'includes/footer.html' %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
